.wrapper {
  width: 300px;
  height: 104px;
  background-color: lightblue;
  text-align: center;
}
.randomBtn {
  display: inline-block;
  margin: 30px auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
}
.randomBtn:hover,
.randomBtn:active {
  border: 2px solid skyblue;
}
